.App {
  text-align: center;
  
}

.flex-container{
  display: flex;
  flex-direction: row;
}

.botonBusq {
  margin: 10px;
  cursor: pointer;
  width: 20vw;
  height: 5vh;
  background-color: #172684;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}

.containerInput {
  background: silver;
  border: 5px solid #393939;
  border-radius: 10px 10px 10px 10px;
  color: #393939;
  font-size: 15px;
  padding: 10px;
}

.button{
  margin: 10px;
  cursor: pointer;
  width: 20vw;
  height: 10vh;
  background-color: #172684;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}

.poke-image{
  height: 40vmin;
  pointer-events: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/pokemon-mas-populares-gengar-1561474289.jpg?crop=1.00xw:0.892xh;0,0.0431xh&resize=480:*");
  background-size: cover;
  background-repeat: none;
  min-height: 100vh;  
  display: flex;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
